

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: #fff;
}